/* responsive for extra small device */
@media screen and (max-width: 575.98px) {
  /* nav section */
  .nav-title {
    font-size: 1rem;
  }
  .nav-items {
    display: none;
  }
  .nav-icon {
    display: block;
  }
  .nav-list a {
    margin-left: 0;
  }

  /* banner section */
  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .banner-content h2 {
    font-size: 1.75rem;
  }
  .banner-content p {
    width: 100%;
  }
  .banner-image {
    width: 80%;
  }

  /* company logo section */
  .logo {
    grid-template-columns: repeat(2, 1fr);
  }

  /* product section */
  .product {
    padding: 0;
  }
  .product-title {
    font-size: 1.75rem;
    margin-bottom: 30px;
  }
  .product-collection {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  .product-name {
    font-size: 1.5rem;
  }
  .product-value {
    font-size: 1.25rem;
  }

  /* featured section */
  .featured {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    text-align: center;
  }
  .featured-content h2 {
    font-size: 1.75rem;
    margin-bottom: 10px;
  }
  .featured-content p {
    font-size: 0.875rem;
    line-height: normal;
  }

  /* footer section */
  .footer-content h2 {
    font-size: 1.5rem;
  }
  .footer-content p {
    font-size: 0.875rem;
    font-weight: 500;
  }
  .social-links {
    gap: 15px;
    margin-top: 10px;
  }
  .social-links a {
    font-size: 1rem;
    width: 30px;
    height: 30px;
  }
}

/* responsive for small device */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  /* nav section */
  .nav-title {
    font-size: 1rem;
  }
  .nav-items {
    display: none;
  }
  .nav-icon {
    display: block;
  }
  .nav-list a {
    margin-left: 0;
  }

  /* banner section */
  .banner {
    flex-direction: column-reverse;
    text-align: center;
  }
  .banner-content h2 {
    font-size: 1.75rem;
  }
  .banner-content p {
    width: 100%;
  }
  .banner-image {
    width: 60%;
  }

  /* company logo section */
  .logo {
    grid-template-columns: repeat(4, 1fr);
  }

  /* product section */
  .product {
    padding: 0;
  }
  .product-title {
    font-size: 1.75rem;
    margin-bottom: 30px;
  }
  .product-collection {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .product-name {
    font-size: 1.5rem;
  }
  .product-value {
    font-size: 1.25rem;
  }

  /* featured section */
  .featured {
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    text-align: center;
  }
  .featured-image {
    width: 90%;
    margin: 0 auto;
  }
  .featured-content h2 {
    font-size: 2rem;
  }

  /* footer section */
  .footer-content h2 {
    font-size: 1.75rem;
  }
}

/* responsive for medium device */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
  /* banner section */
  .banner {
    gap: 30px;
  }
  .banner-content h2 {
    font-size: 2rem;
    margin-top: 20px;
  }
  .banner-image img {
    width: 300px;
  }

  /* company logo section */
  .logo {
    grid-template-columns: repeat(5, 1fr);
  }

  /* product section */
  .product-collection {
    grid-template-columns: repeat(2, 1fr);
  }

  /* featured section */
  .featured {
    grid-template-columns: 1fr 2fr;
    gap: 40px;
  }
  .featured-content h2 {
    font-size: 1.75rem;
    margin-bottom: 10px;
  }
  .featured-content p {
    font-size: 0.875rem;
    line-height: normal;
    margin-bottom: 10px;
  }
}
